/* SUMMARY: General styling for the application*/
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #afd8d1;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

h1 {
  color: transparent;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

nav {
  background-color: #617c3b;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #ece9e9;
  font-size: 16px;
  margin-right: 50px;
  margin-left: 25px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

nav .home-icon,
nav .score-icon,
nav .simulator-icon,
nav .again-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

nav .home-icon {
  background-image: url(../img/home.png);
}

nav .score-icon {
  background-image: url(../img/star.png);
}

nav .simulator-icon {
  background-image: url(../img/gameon.png);
}

nav .again-icon {
  background-image: url(../img/controller.webp);
}

nav a:hover {
  opacity: 0.7;
}

#demo,
#demo-alt {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #c2ceb1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#demo-alt {
  height: 900px;
}

#question-container {
  background-color: #769977;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin: 20px auto;
  max-width: 600px;
}

.clock {
  font-family: 'Orbitron', sans-serif;
  color: #a2c4b6de;
  font-size: 24px;
  letter-spacing: 2px;
  background: rgba(39, 35, 35, 0.724);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px rgba(70, 70, 69, 0.871)
}

.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4d7e50;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Media queries */

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }

  nav .home-icon,
  nav .score-icon,
  nav .simulator-icon,
  nav .again-icon {
    padding-left: 0;
  }
}